@import "../../node_modules/bootstrap/scss/functions";
@import '../sass/_customVariables.scss';

.buttons-container{

  padding: 30px;

  .btn-money {
    height: 100px;
    font-size: $font-size-lg;
    letter-spacing: -0.5px;

    b{
      font-weight: normal;
      font-size: $h3-font-size;
    }

  }
}