@import "../../node_modules/bootstrap/scss/functions";
@import '../sass/_customVariables.scss';

.customer-box {
  border: 1px solid $gray-600;
  border-radius: 4px;
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;

  .amount {
    font-size: 30px;
    font-weight: normal;

    b{
      font-size: 1.7em;
      font-weight: normal;
    }
  }

  .nav {
    padding: 20px 20px 0px 20px;
  }

}