.customer-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;

  .nav {
    padding: 20px 20px 0px 20px;
  }
  
  .buttons-container {
    padding: 20px 20px 5px 20px;
  }
  
}