header {

  padding-top: 20px;
  padding-bottom: 20px;

  .logo {
    float: left;
    width: 105px;
    height: 55px;
    display: block;
    background: url('../images/sprite_v1.svg') -153px -28px no-repeat;
  }

  .customer-data {
    float: right;
    padding: 10px;
  }

}